    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>Github_Groups_6B</p>

                <li>Adrianto <br>NIM : 11353104140</li></p>
                <p><li>Agung Kurniawan <br>NIM : 11353104377</li></p>
                <p><li>Bakty Yoga <br> NIM : 11353104378</li></p>
                <p><li>Darmin Ritonga <br> NIM :11353205418 </li></p>
                <p><li>Lia   <br> NIM : 11353205897</li></p>
                <p><a href="email:{{ site.email }}">{{ site.email }}</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>